
<ul nz-menu nzMode="inline" class="w-full">
  <li nz-submenu nzTitle="App Store" nzIcon="mail" nzOpen>
    <ul>
      <li nz-menu-group nzTitle="Widget">
        <ul>
          <li nz-menu-item nzSelected>Map</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Components" nzIcon="appstore">
    <ul>
      <li nz-menu-item>Nav</li>
      <li nz-menu-item>Footer</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Settings" nzIcon="setting">
    <ul>
      <li nz-menu-item>Map Features</li>
      <li nz-menu-item>Widgets</li>
      <li nz-menu-item>Profile</li>
    </ul>
  </li>
</ul>